@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #3C0002;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
}

#page_position_content
{
	margin-bottom: -1366px;
}

#u237
{
	z-index: 3;
	width: 379px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding-bottom: 591px;
	position: relative;
	background: #FFFFFF url("../../images/1374853_444578519020536_8231970968802032586_n.jpg") no-repeat left center;
	background-size: cover !important;
}

#u255
{
	z-index: 39;
	width: 200px;
	min-height: 200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu238
{
	width: 0.01px;
	padding-bottom: 152px;
	margin-left: 262px;
	top: -681px;
	margin-bottom: -151px;
	position: relative;
}

#u238
{
	z-index: 4;
	width: 118px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 72px;
	text-align: center;
	line-height: 86px;
	position: fixed;
	top: 111px;
	left: 262px;
}

#u242-4
{
	z-index: 10;
	width: 104px;
	line-height: 36px;
	font-size: 30px;
	color: #FFFFFF;
	font-family: coming-soon, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 191px;
	left: 276px;
}

#u240
{
	z-index: 5;
	width: 336px;
	height: 166px;
	border-color: #000000;
	background-color: #6B080D;
	position: fixed;
	top: 825px;
	left: 31px;
}

#u241-4
{
	z-index: 6;
	width: 552px;
	min-height: 148px;
	line-height: 173px;
	font-size: 144px;
	color: #FFFFFF;
	text-align: center;
	font-family: bad-script, cursive;
	font-weight: 400;
	position: fixed;
	top: 837px;
	left: -77px;
}

#u243
{
	z-index: 14;
	width: 360px;
	height: 55px;
	border-color: #000000;
	background-color: #993030;
	position: fixed;
	top: 983px;
	left: 0px;
}

#u257
{
	z-index: 22;
	width: 283px;
	position: fixed;
	top: 983px;
	left: 42px;
}

#u247-4
{
	z-index: 23;
	width: 99px;
	min-height: 13px;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	font-family: glass-antiqua, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
}

#u248
{
	z-index: 31;
	width: 1px;
	height: 55px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	left: 148px;
}

#u249-4
{
	z-index: 27;
	width: 99px;
	min-height: 13px;
	line-height: 29px;
	font-size: 24px;
	color: #FFFFFF;
	text-align: right;
	font-family: glass-antiqua, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 184px;
}

#u246-6
{
	z-index: 15;
	width: 380px;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	text-align: center;
	font-family: coming-soon, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 1044px;
	left: 0px;
}

#u252
{
	z-index: 32;
	width: 380px;
	min-height: 714px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-top: 324px;
}

.js #u243.ose_pre_init,.js #u252.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pu236
{
	width: 0.01px;
	margin-top: 103px;
	position: relative;
}

#u236
{
	z-index: 2;
	width: 379px;
	height: 1081px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 134px;
}

#u250
{
	z-index: 21;
	width: 920px;
	min-height: 1082px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u254-6
{
	z-index: 33;
	width: 135px;
	min-height: 37px;
	color: #FFFFFF;
	left: -357px;
	margin-top: 1401px;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

