@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #3C0002;
}

#page
{
	z-index: 1;
	width: 264px;
	min-height: 344px;
	padding: 223px 252px 457px;
}

#u258-4
{
	z-index: 2;
	width: 264px;
	min-height: 144px;
	line-height: 86px;
	font-size: 72px;
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

#page .verticalspacer
{
	clear: both;
}

