@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #3C0002;
}

#page
{
	z-index: 1;
	width: 0px;
	min-height: 0px;
	padding-top: 128px;
	padding-right: 768px;
	padding-bottom: 896px;
}

#page .verticalspacer
{
	clear: both;
}

